/********** CSS RESET **************/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

html {
    /* Stretch body to full viewport height */
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* Stretch body to full viewport height */
    flex-grow: 1;
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;

    background-color: #6d3b0f;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}


/********** MAIN CSS **************/
ul {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 1em;

    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    unicode-bidi: isolate;

}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2 {
    color: rgb(5, 138, 5);
}

img {
    height: auto;
    width: 70vw;
    border: dotted rgb(248, 248, 70) 5px;
    padding: 5px;
}

p {
    padding-top: 1em;
    font-size: 1.5rem;
    color: #ffff;
}